* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
}

body {
	width: 100%;
	position: relative;
}

/*TOP*/
#top {
	border-bottom: 2px solid #2980b9;
	width: calc(100% - 10px);
	height: 50px;
	background-color: #2980b9; 
	padding: 5px;
}

.logo {
	float: left;
	height: 100%;
}

#TUser {
	position: absolute;
	left: 50%;
	line-height: 50px;
}


#TUserName {
	float: left;
}

/* CONTENT */
#content {
	height: calc(100% - 72px);
	padding-top:10px;
}

/* USERS */
table {
	width : 90%;
	margin-left:5%;
	margin-rigth:5%;
}

td {
	border:1px solid black;
	text-align: center;
	width : 20%;
}
.myButton {
	line-height: 30px;
	text-align: center;
	background-color:#2980b9;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	width : 100%;
	height : 100%;
	text-decoration:none;
}
.myButton:hover {
	background-color:black;
}
.myButton:active {
	position:relative;
	background-color:#f39c12;
}
