body {
	background-color: #3498db;
}

html * {
	margin: 0;
	padding: 0;
	font-family: 'Fjalla One', sans-serif;
}

#index {
	background-image: url('../images/background.jpeg');
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

#signIndex {
	width: 36%;
	height: 25%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -18%;
	margin-top: -10%;
}

.hide {
	visibility: hidden;
	display: none;
}

.form {
	border: 1px solid white;
	background-color: white;
}

.selected {
	background-color: green;
}

.menu {
	width: 100%;
	height: 20%;
}

.buttonIndex {
	float: left;
	width: 50%;
	height: 100%;
	border: none;
}

.smallInput {
	width: 50%;
    height: 20%;
    float: left;
    text-align: center;
}

.bigInput {
	width: 100%;
    height: 20%;
    text-align: center;
}

#submitIndex {
	width: 100%;
    height: 20%;
}

p
{
	padding: 10% 10% 10%;
	color: navajowhite;
	font-family: "SansSerif";
}

div#propos.section-left
{
	height: 100%;
	width: 40%;
	text-align: justify;
	font-size: 20px;
	float: left;
	background: #133650;
}

div#propos.section-right
{
	height: 100%;
	width: 60%;
	float: right;
	background: black;
}

div#propos.section-right table td
{
	height: 35%;
	width: 50%;
}

img
{
	width: 250px;
	height: 150px;
}
