* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
}

body {
	overflow: hidden;
	width: 100%;
	position: relative;
}

/*ACTION*/
.hide {
	visibility: hidden;
	display: none;
	background-color: green;
}

/*CALC IMAGE*/
.imageButton {
	border: none;
	background-color: transparent;
}

/* DEFAULT TAG */

#popup_flux h1 {
    text-align: center;
    padding-bottom: 30px;
    color: #27ae60;
}

/*TOP*/
#top {
	border-bottom: 2px solid #2980b9;
	width: calc(100% - 5px);
	height: 50px;
	background-color: #2980b9; 
	padding: 5px;
}

.logo {
	float: left;
	height: 100%;
}

#TUser {
	position: absolute;
	left: 50%;
	line-height: 50px;
}

#TUserLogo {
	float: left;
}

#TUserName {
	float: left;
}

#userInformation {
    width: 20%;
    height: 300px;
    background-color: #bdc3c7;
    position: absolute;
    top: 0;
    left: 50%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -150px;
}

#userInformation_top {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #2980b9;
}

.userInformation_top_img {
    width: 60px;
    height: 100%;
    float: left;
}

.userInformation_top_name {
    display: block;
    font-size: 28px;
    float: left;
    text-align: center;
    width: calc(100% - 60px);
    line-height: 60px;
}

#userInformation_rest {
    width: 100%;
    height: calc(100% - 60px);
}

#userPreference {
	width: 15%;
	height: 300px;
	background-color: #bdc3c7;
	position: absolute;
	right: 0;
	top: 0;
	border-bottom-left-radius: 10px;
}

#userPreference_top {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #2980b9;
}

.userPreference_top_title {
    display: block;
    font-size: 28px;
    float: left;
    text-align: center;
    width: calc(100% - 60px);
    line-height: 60px;
}

.userPreference_top_close {
    float: right;
    background: url(../images/preference_btn.png) center center no-repeat;
    height: 100%;
    width: 48px;
}

#userPreference_rest {
    width: 100%;
    height: calc(100% - 60px);
}

/*LEFT*/

/* LEFT TOP PANEL*/
#LTBar {
	height: 30px;
	width: 100%;
	border-right: 2px solid #2980b9;
}

#searchInput {
    width: calc(100% - 30px);
    height: 30px;
    padding-left: 10px;
    border: none;
    float: left;
    text-align: center;
}

/* LEFT BOT PANEL*/
#LBBar {
	width: calc(100% + 2px);
	height: 50px;
	position: absolute;
	bottom: 0;
	background-color: #f39c12;
}

/* LEFT BIG PANEL PANEL*/
.choicePanel {
	float: left;
	border: none;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 15px;
}


/*PLACEHOLDER*/
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

/* POP UP */
.overlay {
    position: fixed;
    z-index: 10000;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
}

.popup_flux {
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 11000;
    left: 50%;
    margin-left: -300px;
    top: 150px;
    width: 600px;
    background: #FFF;
    border-radius: 5px;
    padding: 10px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}

.popup_blog {
	display: none;
	position: absolute;
	opacity: 0;
	z-index: 11000;
	left: 50%;
	margin-left: -300px;
	top: 150px;
	width: 800px;
	height: 300px;
	background: #FFF;
	border-radius: 5px;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}

/*ADD FLUX*/
.addLibrary {
	width: 100%;
	float: left;
}

.addFlux {
	width: 100%;
	float: left;
}

.sep {
	width: 100%;
	border-top: 1px solid black;
	margin-top: 15px;
	margin-bottom: 15px;
	float: left;
}

.smallInput {
	float: left;
	width: 50%;
	height: 30px;
}

.bigInput {
	width: 100%;
	height: 30px;
}

/* LEFT MENU */
#page {
	position: relative;
}

#menu {
	position: fixed;
	background-color: #2980b9;
	top: 62px; /* 60 -> TOP & 2 -> BORDER */
	bottom: 0;
	width: 25%;
	left: 0;
	z-index: 9999;
}

/* SMALL MENU LEFT */
#leftSmallMenu {
	border-right: 2px solid #2980b9;
	height: 100%;
	width: 52px;
	position: fixed;
	left: 25%;
}

/* CONTENT */
#content {
	padding: 25px;
	position: fixed;
	margin-left: 52px;
	left: 25%;
	width: 100%;
	height: calc(100% - 85px);
}

#content_blog {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

#content_flux {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

/* TOP BAR BUTTON */
.preference_btn {
	background: url(../images/preference_btn.png) center center no-repeat;
    height: 100%;
    width: 48px;
    float: right;
}

/* PREFERENCE/USER BUTTON */

.pref_btn {
	height: 10%;
	width: 100%;
	border: none;
	border-bottom: 1px solid #ecf0f1;
}

.user_btn {
	width: 100%;
	height: 15%;
	background: transparent;
	border: none;
	border-bottom: 1px solid #ecf0f1;
}



/* MENU BUTTON */
.menu_btn {
	height:52px;
	width:52px;
	float: left;
	border-bottom: 1px solid #2980b9;
	border: none;
}

.open_btn {
	background: #f39c12 url(../images/showLeft_btn.png) center center no-repeat;
}

.close_btn {
	background: #f39c12 url(../images/hideLeft_btn.png) center center no-repeat;
}

.all_btn {
	background: #f39c12 url(../images/all_btn.png) center center no-repeat;
}

.favorite_btn {
	background: #f39c12 url(../images/favorite_btn.png) center center no-repeat;
}

.friend_btn {
	background: #f39c12 url(../images/friends_btn.png) center center no-repeat;
}

.write_btn {
	background: #f39c12 url(../images/write_btn.png) center center no-repeat;
}

.search_btn {
	background: #f39c12 url(../images/search_btn.png) center center no-repeat;
	height:30px;
	width:30px;
	float: right;
}

.addF_btn {
	background: #f39c12 url(../images/addF_btn.png) center center no-repeat;
	float: left;
	height: 100%;
	width: 50px;
}

.lessF_btn {
	background: #f39c12 url(../images/lessF_btn.png) center center no-repeat;
	float: right;
	height: 100%;
	width: 50px;
}

#leftSmallMenu .blog_btn {
	background: #f39c12 url(../images/blog_btn.png) center center no-repeat;
}

#leftSmallMenu .actu_btn {
	background: #f39c12 url(../images/actu_btn.png) center center no-repeat;
}

/* LEFT PANELS */
#categorie_panel {
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
	height: calc( 100% - 80px ); /* 60 + 30 + 5*/
	text-align: center;
	border-right: 2px solid #2980b9;
}

.categorie {

}

#friend_panel {
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
	height: calc( 100% - 80px ); /* 60 + 30 + 5*/
	border-right: 2px solid #2980b9;	
}

.friend {
	background-color: #34495e;
	font-size: 22px;
	color: black;
}

.default_block_panel {
	width: 100%;
	height: 8%;
	border: none;
	margin-top: 2px;
	color: white;
	font-weight: bold;
}

.flux_panel {
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
	height: calc( 100% - 80px ); /* 60 + 30 + 5*/
	border-right: 2px solid #2980b9;
}

.backflux_btn {
    background-color: #f39c12;
	color: black;
}

.flux {
	background-color: transparent;
    font-size: 22px;
    display: inline;
    vertical-align: middle;
}

.flux_name {
    font-size: 22px;
    display: inline;
    vertical-align: middle;
}

.flux_with_image {
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 10px;
}

/* BLOG FORM */
#writting_zone {
	width: 100%;
	height: 100%;
}

.writting_zone_image {
	background-color: white;
	height: 100%;
	width: 35%;
	float: left;
}

img[src="#"] {
	display: none;
}

.preview_img_blog {
	width: 100%;
	height: 100%;
}

.writting_zone_text {
	height: 100%;
	width: calc(100% - 35%);
	float: right;
}

#F_blog input, #F_cancel_btn  {
	font-size: 18px;
	text-align: center;
}

.writting_zone_text .small_input {
	width: 50%;
	height: 15%;
}

.writting_zone_text .big_input {
	width: 100%;
	height: 15%;
}

.writting_zone_text .content_input {
	width: 100%;
	height: 55%;
}

.writting_zone_text .action_btn {
	width: 50%;
	height: 15%;
}

/* ARTICLE ZONE */

#content_blog .article {
	width: 50%;
	height: 25%;
	margin: auto;
	margin-bottom: 2%;
	position: relative;
	left: -25%;
	background-color: #ecf0f1;
	border-top-right-radius: 20px;
}

.article_zone_img {
	width: 30%;
	height: 100%;
	float: left;
}

.article_img {
	width: 100%;
	height: 100%;
}

.article_zone_content {
	height: 100%;
	width: calc(70% - 25px);
	float: left;
	margin-left: 15px;
}

.article_content_inf {
	font-size: 20px;
	width: 100%;
	height: 10%;
}

.article_content_inf .article_inf_title {
	font-weight: bold;
}

.article_content_inf .article_inf_theme {
	font-style: italic;
}

.article_content {
	width: 100%;
	height: calc(90% - 3px);
	text-align: justify;
	font-size: 18px;
	margin-top: 3px;
	overflow-y: auto;
	padding-right: 10px;
}


/* CATEGORIE DELETE */

.cancel_delete_btn {
	background: #f39c12 url(../images/cancel_delete_btn.png) center center no-repeat;
	float: right;
	height: 100%;
	width: 50px;
	border: none;
}

.validate_btn {
	background: #f39c12 url(../images/validate_btn.png) center center no-repeat;
	float: right;
	height: 100%;
	width: 50px;
	border: none;
}